/**
* Day-{{day}} Include Header
*/
#pragma once

#include <bits/stdc++.h>
#include "Utils.hpp"

int64_t handlePart1(const std::vector<std::string> &inputLines);
int64_t handlePart2(const std::vector<std::string> &inputLines);